
.header {
    background-color: #3a28cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    width: 100%;
    padding: .5rem;
    z-index: 2;
}

.logo{
    margin-right: 1rem;
    margin-left: 2.5rem;
}

/*
.logo {
    margin-right: 15rem;
}
    */
.menu{
    margin-left: auto;
    margin-right: 2.5rem;
}

#heroSection{
    background-color: #3B28CC;
    color: #fff;
    padding: 1rem;
    padding-top: 6rem;
    border-radius: 2.6rem;
}

/*
#heroSection {
    background-color: #3a28cc;
    color: #fff;
    padding-top: 6rem;
    padding-bottom: 2rem;
    border-radius: 3rem;
}
     */

h1{
    font-weight: 300 !important;
    font-size: 1.76rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: .5rem;
}

p{
    font-size: .68rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}

h1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: solid 2px #0094FF;
    width: 60%;
    padding: .3rem;
    border-radius: .5rem;
    margin: 1rem 2rem;
}

.internBtn{
    font-size: 1rem !important;
    font-weight:600 !important;
    padding: .5rem 1.2rem !important;
    color: #000;
    background-color: #5bb3f1;
    border-radius: .3rem;
    text-decoration: none;
    margin-right: .5rem;
} 

.advantages{
    padding: 1rem;
    padding-right: .5rem;
    margin: 2rem;
    margin-top: 1.8rem !important;
}


ul{
    list-style: none; 
    }
    
    li{
        margin-top: 2rem;
        font-size: .85rem;
        }

.advantages h2{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 600;
        margin-right:auto ;
        margin-left: 11rem;
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.advantages p{
    margin-left: 11rem;
    margin-right: 0;

    }         


.peopleVector{
    position: relative;
    top: 2rem;
    left: 5rem;
    margin-bottom: -3.3rem;
    }
    
    .ornament {
        position: absolute;
        right: 3.8rem;
        bottom: -1.2rem;
        width: 23rem;
        }

.whiteArrow{
    position: relative;
    left: 3.3rem;
    top: 3rem;
}

.car {
    margin-left: 2.5rem;
    margin-right: 3.5rem;
    margin-top: -3rem;
}

    #partners{
            align-items: center;
            justify-content: center;
    }
        
    #partners h3{
            margin: 1rem 6.6rem;
            font-size: .7rem;
            font-weight: 600;
            max-width: 100vw;
    }

    .slider {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        box-sizing: border-box;
        place-content: center;
        overflow: hidden;
    }
    
    .slider-track {
        display: inline-block;
        white-space: nowrap;
        animation: 10s infinite slide linear;
        max-height: fit-content;
        overflow: hidden;
    }
    
    .slider-track img {
        width: 100px; /* Defina o tamanho das imagens conforme necessário */
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;
        overflow: hidden;
    }
    
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }    

