* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

background{
    color: #f2f2f2;
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.slideTrack{
    background-color: #FFF;
    overflow: hidden;
    padding: 5rem 0;
    white-space: nowrap;
    position: relative;
}

.slideTrack:before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 205px;
    background: linear-gradient(to left, #FFFFFF00), #FFF;
    content: "";
    z-index: 2;
}


.logos-slide{
    animation: 5s slide infinite linear;
    display: inline-block;
    
}

.logos-slide img{
    height: 15rem;
    margin: 0 4rem;
}