.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .2rem;
    font-size: .5rem;
    margin-bottom: 6rem;
}

.logo{
    margin-top: 1rem;
}

.menuIcon{
    justify-self: start;
    margin-left:3rem;
    margin-right: 20rem;
    padding: 0;
    border: solid 0.5px transparent;
    transition:box-shadow 0.3s;

}

.menuIcon:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 1px #ffffff;
}


