
@media screen and (min-height: 635px) {
  .ornament {
    bottom: -14rem !important;
    right: 1rem;
  }
}



@media screen and (min-height: 640px) {
  .ornament {
    bottom: -15.4rem !important;
  }
}

@media screen and (min-height: 650px) {
  .ornament {
    bottom: -13rem !important;
  }
}

@media screen and (min-height: 697px){
.ornament {
  bottom: -12rem !important;
}}

@media screen and (min-height: 735px){
.ornament {
  bottom: -20rem !important;
}}

@media screen and (min-height: 745px) {
  .ornament {
      bottom: -12rem !important;
  }
}

@media screen and (min-height: 750px){
.ornament {
  bottom: -18rem !important;
}}

@media screen and (min-height: 763px) { 

  .ornament{
    bottom: -11rem !important;
  }
  
}

@media screen and (min-height: 780px) {
  .ornament {
    bottom: -10rem !important;
}
}

@media screen and (min-height: 812px) {
  .ornament {
    bottom: -3rem !important;
  }
}

@media screen and (min-height: 830px) {
  .ornament {
    bottom: -7rem !important;
  }
}


@media screen and (min-height: 844px) {
  .ornament {
    bottom: -6rem !important;
  }
}

@media screen and (min-height: 864px) {
  .ornament {
    bottom: -5rem !important;
  }
}

@media screen and (min-height: 875px) {
  .ornament {
    bottom: -4.5rem !important;
  }
}

@media screen and (min-height: 900px) {
  .ornament {
    bottom: -2.7rem !important;
  }
}

@media screen and (min-height: 919px) {
.ornament {
  bottom: -1.7rem !important;
}
}


@media screen and (min-height: 925px) {
  .ornament {
    bottom: -1rem !important;
  }
}



@media (min-width: 425px) and (min-height: 733px) {
  .ornament{
    bottom: -10rem !important;
  }
}

@media (min-width: 425px) and (min-height: 764px) {
  .ornament {
    bottom: -8rem !important;
  }
  }


@media (min-width: 425px) and (min-height: 812px) {
  .ornament{
    bottom: -5rem !important;
  }
}



@media (min-width: 478px) and (min-height: 763px) {
  
  .ornament{
    bottom: -18rem !important;
  }
  
}



@media (min-width: 478px) and (min-height: 780px) {

  .ornament{
    bottom: -17rem !important;
  }

}

@media (min-width: 478px) and (min-height: 800px) {
  .ornament{
    bottom: -15rem !important;
  }
}

@media (min-width: 478px) and (min-height: 829px) {
  .ornament {
    bottom: -14rem !important;
  }
} 

@media (min-width: 478px) and (min-height: 839px) {

  .ornament{
    bottom: -11.8rem !important;
  }

}



@media (min-width: 525px) and (min-height: 735px){
  .ornament {
      bottom: -19rem !important;
      right: 8.5rem !important;
  }
}

@media (min-width: 635px) and (min-height: 735px){
.ornament {
  right: 16.5rem !important;
  bottom: -16rem !important;
}

}

@media (min-width: 600px) and (min-height: 741px){

  .ornament {
    bottom: -20rem !important;
    right: 13.5rem !important;

}
}

@media (min-width: 600px) and (min-height: 741px){
  .ornament {
    bottom: -19rem !important;
}

}

@media (min-width: 800px) and (min-height: 700px){
.ornament {
  bottom: -27rem !important;
}
}

@media (min-width: 800px) and (min-height: 730px){
.ornament {
  bottom: -25rem !important;
}
}

@media (min-width: 800px) and (min-height: 760px){
  .ornament {
    bottom: -23rem !important;
}
}



@media (min-width: 800px) and (min-height: 780px){
.ornament {
  bottom: -21.5rem !important;
}
}

@media (min-width: 800px) and (min-height: 811px){
  .ornament {
    bottom: -19rem !important;
  }
  }

@media (min-width: 800px) and (min-height: 915px){
.ornament {
  bottom: -13rem !important;
}
}

@media (min-width: 1024px) and (min-height: 811px){
.ornament {
  bottom: -18rem !important;
}
}
